div.image_card{
    border-radius: 25px;
    width: 70%;
    left: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 80%;
    background-color: #35505A;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

div.image_card:hover{
    background-color: #35CE8D;
}

div.image_card_text{
    text-align: center;
    padding: 10px 20px;
}


#article_image{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}


#article_title{
    text-decoration: none;
    position: relative;
    width: auto;
    left: auto;
    padding: 0;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-size: 60px;
    margin-bottom: 0;
}
#author_name{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    width: auto;
    right: 5%;
    padding: 0;
    padding-left: 10%;
    padding-right: 10%;
    text-align: right;
    margin-bottom: 0;
}
#author_blurb{
    font-size: 15px;
    text-decoration: none;
    position: relative;
    width: auto;
    left: auto;
    padding: 0;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}
#article_date{
    font-size: 20px;
    text-decoration: none;
    position: relative;
    width: auto;
    right: 5%;
    padding: 0;
    padding-left: 10%;
    padding-right: 10%;
    text-align: right;
}
#article_content{
    font-size: 20px;
    border-radius: 25px;
    background-color: white;
    text-decoration: none;
    position: relative;
    width: 70%;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
}




#image_blurb{
    
	font-size: 30px;
    text-decoration: none;
    position: relative;
    width: auto;
    left: auto;
    padding: 0;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}
#article_sources{
    font-size: 20px;
    border-radius: 25px;
    background-color: white;
    text-decoration: none;
    position: relative;
    width: 70%;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}


#about_the_author{
    font-size: 20px;
    border-radius: 25px;
    background-color: #3AB64B;
    color: white;
    text-decoration: none;
    position: relative;
    width: 70%;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-bottom: 30px;
}


