div.image_card{
    color: white;
    width: 80%;
    background-color: #35CE8D;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

div.image_card:hover{
    background-color: #35605A;
}

div.image_card_text{
    text-align: center;
    padding: 10px 20px;
}



#article_title{
    text-decoration: none;
    position: relative;
    width: auto;
    left: auto;
    padding: 0;
    text-align: center;
    font-size: 80px;
}
#author_name{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    width: auto;
    left: auto;
    padding: 0;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}
#author_blurb{
    font-size: 15px;
    text-decoration: none;
    position: relative;
    width: auto;
    left: auto;
    padding: 0;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}
#article_date{
    font-size: 20px;
    text-decoration: none;
    position: relative;
    width: auto;
    left: auto;
    padding: 0;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}
#article_content{
    background-color: white;
    border-radius: 25px;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    width: auto;
    left: auto;
    padding: 0;
    padding-left: 20%;
    padding-right: 20%;
    text-align: left;
}
#image_blurb{
    font-size: 15px;
    text-decoration: none;
    position: relative;
    width: auto;
    left: auto;
    padding: 0;
    padding-left: 20%;
    padding-right: 20%;
    text-align: left;
}
#article_sources{
    font-size: 15px;
    text-decoration: none;
    position: relative;
    width: auto;
    left: auto;
    padding: 0;
    padding-left: 20%;
    padding-right: 20%;
    text-align: left;
}

#article_image{
    border-radius: 10px;
    width: 70%;
    left: 15%;
    position: relative;
    padding: 0;
    padding-left: 10%;
    padding-right: 10%;
}



