#spacer{
z-index: 1;
}
#contactlistdiv{
position: relative;
display: block;
margin: 0;
margin-bottom: 20px;
}
div.contacts {
    border-radius: 10px;
    color: white;
    background-color: #35605A;
    z-index: 2;
    
}
div.contacts:hover {
    background-color: #35CE8D;
    color: white;
}


div.contact_desc {
    font-size: 40px;
    font-weight: bold;
    padding: 15px;
    text-align: center;
}

div.contact_name{
    color: white;
    text-decorators: none;
    font-weight: bold;
    font-size: 25px;
    padding: 15px;
    text-align: center;
}

div.contact_talk{
    color: white;
    text-decoration: underline;
    font-weight: bold;
    font-size: 45px;
    padding: 15px;
    text-align: center;
}

div.contact_email{
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}


.responsive {
    padding: 6px;
    float: left;
    width: 33.333333%;
    box-sizing: border-box;
    z-index: 3;
}

