/* color of header/nav bar */
head{
	background-color: #F9ECCC;
}

/* color of the rest of the page */
body{
	font-family: 'Nunito';
    background-color: #F9ECCC;
	color: #00120B;/* text color */
}

/* spacer directly underneath nav bar, to push everything on the page down the width of the nav bar */<F12>
#spacer{
	position: relative;
	width: 100%;
	height: 5em;
	background-color: white;
	opacity: 0;
	z-index: 1;
}

/* put responsive page elements here (e.g. navbar...) */


@media only screen and (max-width: 700px){
    .responsive{
        width: 49.999999%;
    }
}

@media only screen and (max-width: 500px){
    .responsive{
        width: 100%;
    }
}

.clearfix:after{
    content="";
    display: table;
    clear: both;
}
* {
    box-sizing: border-box;
}
