/* ul of horizontal nav bar */
ul#navbarlist{
    /* why is this no longer at the top? */
    float: right;
    position: static;
    top: 0;
    display: inline-block;
    list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #3AB64B;
}

ul#navbarlist li {
    float: left;
}


/* clickable link area of each text item in nav bar list */
ul#navbarlist li a {
    top: 0;
    border-right: 3px solid #fff;
    display: block;
    color: white;
	text-align: center;
    padding: calc(1em * calc(2/3)) 2em;
	text-decoration: none;
	font-size: 1.5em;
}

/* change color of text on hover */
ul#navbarlist li a:hover{
/* on hover on navbar */
    background-color: #35CE8D;
    color: white;
}

/* div for horizontal nav bar */
#horizontalnav{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 0em;
	display: block;
	background-color: #F9ECCC;
	z-index: 100;
}

/* the list item in the nav bar corresponding to the current page has this class to make the background a different colour */
.currentpage{
	background-color: #35605A;
}

