#spacer{
z-index: 1;
}

div.teamprofiles {
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #35605A;
    z-index: 2;
    
}
div.teamprofiles:hover {
    background-color: #35CE8D;
    color: white;
}


div.teamprofiles img {
    width: 100%;
    
    height: calc(calc(100vw - 16px) / 5);
    height: auto;
    object-fit: cover;

}

div.desc {
    padding: 15px;
    text-align: center;
}

div.member_name{
    font-weight: bold;
    font-size: 30px;
    padding: 15px;
    text-align: center;
}

div.member_title{
    font-weight: bold;
    padding: 5px;
    text-align: center;
}


.responsive {
    padding: 10px 6px 0;
    float: left;
    width: 19.99999%;
    box-sizing: border-box;
    z-index: 3;
}

