
/* div container for search bar */
#searchbar {
    position:absolute;
    top:5px;
    left: 0.5%;
    width: 99%;
    box-sizing: border-box;
    height: 55px;
    z-index: 25;
    --searchheight: 55px;
}

/* form of search bar including text and button */
form.search{
    height: 100%;
    width: auto;
}

/* text input of search bar */
form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    float: left;
    width: calc(100% - var(--searchheight));
    background: #f1f1f1;
    box-sizing: border-box;
    height: var(--searchheight);
}

/* image input of search bar (i.e. button) */
form.search input[type=image]{
    position: absolute;
    left: calc(100% - var(--searchheight));
    width: var(--searchheight);
    height: var(--searchheight);
    padding: 10px;
    background: #3AB64B;
    color: white;
    font-size: 17px;
    border: none;
    border-left: none;
    cursor: pointer;
    box-sizing: border-box;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* change color of search button when hovered */
form.search input:hover[type=image]{
    background: #35CE8D;
}

