
/* div for social media list */


/* class="fa" is for social icons */
.fa {
	font-size: 30px;
}


#socialmedia{
	position: relative;
	display: inline-block;
	text-align: center;
	width: 100%;
	font-size: 40px;
	height: 1em;
	margin: 0;
	padding: auto;
	
	border: none;
	border-radius: 15px;
	background-color: none;
	border: none;
		
}
ul#socialmedialist {
	margin: 0;
	padding-left:0;
	text-align: center;
	height: 100%;

}
ul#socialmedialist li{

	list-style-type: none;
	display: inline-block;
	padding: 0;
	margin: 0;
	font-size: 30px;
	margin-bottom: 10px;
	height: 2em;
}

/* links on each button */
ul#socialmedialist li a{
	display: inline;
	text-align: center;
	position: relative;
	height: 100%;
	top: calc(-1em / 10);
	width: auto;
	margin: 0;
	padding: 0.5em;
	padding-left: 2em;
	padding-right: 2em;
	font-size: 30px;
	text-decoration: none;
	color: white;
	margin-bottom: 10px;

}

/* each following class defines the color of the button */
.fa-facebook {
    border-radius: 25px;
	background: #3B5998;
}

.fa-linkedin {
    border-radius: 25px;
	background: #007bb5;

}

.fa-instagram {
	border-radius: 25px;
    background:#E1306C;

}

.fa-github{
    border-radius: 25px;
	background: #24292E;

}



.fa-twitter{
    border-radius: 25px;
    background: #00ACEE;
}

