

/* class for toggle */
.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    top: 10;
    left: 10;
}

/* the checkbox for the toggle, hidden */
.switch input {
    opacity: 0;
    width: 0px;
    height: 0px;
}

/* span for the custom toggle */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

}

/* custom white dot inside toggle */
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

/* change color of span when button checked */
input:checked + .slider {
    background-color: #3AB64B;
}

input:focus + .slider {
    box-shadow: 0 0 1px #3AB64B;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* big container div for everything for the toggle */
#toggle{
    position: absolute;
    top: 60%;
    left: 1%;
    background-color: #fff;
    z-index: 21;
    border: none;
    border-radius: 0 0 15px 15px;
}
