{% load static %}
<!DOCTYPE HTML>
<html>
	<head> <!-- title is the text in the tab at the top -->
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito'>        
		<link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel='stylesheet' href = "{% static 'css/navbar.css' %}">
        <link rel='stylesheet' href = "{% static 'css/socialmedia.css' %}">
        <link rel='stylesheet' href = "{% static 'css/ourteam.css' %}">
        <link rel='stylesheet' href = "{% static 'css/hamburger.css' %}">
        <link rel='stylesheet' href = "{% static 'css/infopage.css' %}">
  		<link rel='icon' type='image.png' href="{% static 'images/GrocerCheckFavicon.png' %}" />
        <title>About Us: GrocerCheck</title>
		<style>

/* div for who are we */
#whoarewe{
	text-align: center;
	text-decoration: none;
	position: relative;
	width: 70%;
	left: 15%;
}

#forkus{
    color: #00120B;
    text-align: center;
    text-decoration: none;
    position: relative;
    width: 50%;
    left: 25%;
    border: none;
    padding-top: 20px;
    margin-top: 50px;
}
		</style>

        
	</head>

    
	<body>

		<div id="socialmedia">
			<ul id="socialmedialist">

				<li><a href="https://www.facebook.com/GrocerCheck-102588141447791/" target="_blank" class="fa fa-facebook"></a></li>
				<li><a href="https://www.instagram.com/grocercheck/" target="_blank" class="fa fa-instagram"></a></li>
				<li><a href="https://www.linkedin.com/company/grocercheck/" target="_blank" class="fa fa-linkedin"></a></li>
				<li><a href="https://github.com/grocercheck/" target="_blank" class="fa fa-github"></a></li>
			</ul>
		</div>

		<!-- this is the hamburger menu commented out for now
	  <nav role="navigation">
	  <div id="navtoggle">
	  <input type="checkbox" id="hamburgerbutton"/>
	  <div id='spansquare'>	</div>
	  <span></span>
	  <span></span>
	  <span></span>


	  <ul id="navmenu">
	  <a href="{% url 'index' %}"><li>Home</li></a>
	  <a href="{% url 'about' %}"><li>About Us</li></a>
	  </ul>
	  </div>
	  </nav>
		-->
		<div id="horizontalnav">
			<a href="{% url 'index' %}">
				<img src="{% static 'images/GrocerCheck-01.png' %}" alt="GrocerCheck Logo" style="position: relative; left: 0; top: 0;background-color:top: 0; white;display: inline; padding: calc(1em / 4); padding-bottom: 0;margin: 0; float: left;margin-right: 10em;height: 4.5em; width: calc(4.5em * calc(1146 / 314)); border: 0;">
			</a>
            <ul id="navbarlist">
				<li><a href="{% url 'index' %}">Home</a></li>
				<li class="currentpage"><a href="{% url 'about' %}">About Us</a></li>
				<li><a href="{% url 'blog' %}">Blog</a></li>
				<li><a href="{% url 'sponsors' %}">Sponsors</a></li>
				<li><a href="{% url 'contact' %}">Contact Us</a></li>
				<li><a href="{% url 'media' %}">Media</a></li>


			</ul>
		</div>


		<div id="spacer">
		</div>

		<div id="whoarewe">
			<h1 style="font-size: 60px;">GrocerCheck: Who are we?</h1>
			<p>Grocercheck Foundation is a non profit organization centered around a web application project, grocercheck.ca, that makes accessible live grocery business data to help consumers follow social distancing guidelines during the COVID-19 pandemic.</p>
		</div>

        <div id="our_team">
            <h1 style="font-size 50px;">Meet our team.</h1>
            <p>We are a team of passionate highschool and incoming university students looking to help make a difference</p>

        </div>
            <div id="brian" class = "responsive">
                <div class = "teamprofiles">
                    <a target="_blank" href = "{% static 'images/brian.jpg' %}">
                        <img style="border-top-right-radius: 10px; border-top-left-radius: 10px;" src = "{% static 'images/brian.jpg' %}" alt = "Brian Chen">
                    </a>
                    <div class="member_name">Brian Chen</div>
                    <div class="member_title">CEO &amp; Co-Founder, VP Development</div>
                    <div class="desc">Hi! I’m Brian, and I’m an incoming freshman at the University of Toronto. The idea for GrocerCheck came about when I had to buy eggs for a quarantine loaf I was baking, and couldn’t figure out which one was the best choice: do I go to Costco and risk a long line, or face the same fate at the ethnic grocery store five blocks away? I’m super passionate about identifying problems in the world around me, and developing solutions for them. I believe GrocerCheck is a genuinely useful tool, and am beyond excited to see it come to life. In my spare time, I enjoy playing badminton and desperately trying to bake a half-decent sourdough.</div>
                </div>
            </div>

             <div id="andy" class = "responsive">
                <div class = "teamprofiles">
                    <a target="_blank" href = "{% static 'images/GrocerCheckFavicon.png' %}">
                        <img style="border-top-right-radius: 10px; border-top-left-radius: 10px;" src = "{% static 'images/GrocerCheckFavicon.png' %}" alt = "Andy Liang">
                    </a>
                    <div class="member_name">Andy Liang</div>
                    <div class="member_title">COO &amp; Co-Founder, VP Development</div>
                    <div class="desc">
                        PLACEHOLDER_TEXT
                    </div>
                </div>
            </div>
            
            <div id="preston" class = "responsive">
                <div class = "teamprofiles">
                    <a target="_blank" href = "{% static 'images/preston.png' %}">
                        <img style="border-top-right-radius: 10px; border-top-left-radius: 10px;" src = "{% static 'images/preston.png' %}" alt = "Preston Lai">
                    </a>
                    <div class="member_name">Preston Lai</div>
                    <div class="member_title">Chief Information Officer</div>
 
                    <div class="desc">Hi there! My name is Preston and I’m an incoming freshman at the University of British Columbia. Throughout my life I have always been passionate about getting involved with projects to create social differences around my community. So when I had the opportunity to join the GrocerCheck team, a group of amazing individuals working towards a common goal of making the world a safer place, I couldn’t resist! Now after working with this team for a few months, I look forward to building lifelong networks, creating solutions to make a difference in the world, and challenging the status quo.                     
                    </div>
                </div>
            </div>
            
            <div id="jason" class = "responsive">
                <div class = "teamprofiles">
                    <a target="_blank" href = "{% static 'images/jason.jpeg' %}">
                        <img style="border-top-right-radius: 10px; border-top-left-radius: 10px;" src = "{% static 'images/jason.jpeg' %}" alt = "Jason Yu">
                    </a>
                    <div class="member_name">Jason Yu</div>
                    <div class="member_title">UX Designer</div>
 
                    <div class="desc">
                        PLACEHOLDER_TEXT
                    </div>
                </div>
            
            </div>        
                <div id="luke" class = "responsive">
                <div class = "teamprofiles">
                    <a target="_blank" href = "{% static 'images/GrocerCheckFavicon.png' %}">
                        <img style="border-top-right-radius: 10px; border-top-left-radius: 10px; " src = "{% static 'images/GrocerCheckFavicon.png' %}" alt = "Luke Dunn">
                    </a>
                    <div class="member_name">Luke Dunn</div>
                    <div class="member_title">UX designer</div>
 
                    <div class="desc">
                        PLACEHOLDER_TEXT
                    </div>
                </div>
            </div>
        </div>

        <div id="spacer"></div>
        <div id="spacer"></div>
        <div id="spacer"></div>
        <div id="spacer"></div>
        <div id="spacer"></div>
        <div id="spacer"></div>


        <div id="forkus" style="display: flex; align-items: center;">
            <a target="_blank" href = "https://github.com/GrocerCheck">
                <img style="margin-right: 5px; display: block;" src="{% static 'images/github.png' %}" width=30px, height = 30px>
            </a>
            <a style="margin: 0; padding-top: 5px; color: #00120B" href="https://github.com/GrocerCheck" target="_blank">GrocerCheck is an open source project! Fork us on GitHub!<a>
        </div>

        <div id="spacer"></div>
        <div id="spacer"></div>
        <div id="spacer"></div>



	</body>
</html>
