{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Blog: GrocerCheck</title>
        <link rel='icon' type=image.png' href="{% static 'images/GrocerCheckFavicon.png' %}" />
        <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
        <link rel='stylesheet' href = "{% static 'css/navbar.css' %}">
	
        <link rel='stylesheet' href = "{% static 'css/infopage.css' %}">
<link rel='stylesheet' href = "{% static 'css/hamburger.css' %}">
        
        <style>
        </style>
    </head>


    <body>


	    <!-- hamburger menu -->
		<nav role="navigation">
			<div id="navtoggle">
				<input type="checkbox" id="hamburgerbutton"/>
				<div id='spansquare'>	</div>
				<span></span>
				<span></span>
				<span></span>


				<ul id="navmenu">
					<a href="{% url 'index' %}"><li>Home</li></a>
					<a href="{% url 'about' %}"><li>About Us</li></a>
					<a href="{% url 'blog' %}"><li>Blog</li></a>
					<a href="{% url 'sponsors' %}"><li>Sponsors</li></a>
					<a href="{% url 'contact' %}"><li>Contact Us</li></a>

				</ul>
			</div>
		</nav>


        <div id="horizontalnav">
            <a href="{% url 'index' %}">
                <img src="{% static 'images/GrocerCheck-01.png' %}" alt="GrocerCheck Logo" >
            </a>

            <ul id="navbarlist">
                <li><a href="{% url 'index' %}">Home</a></li>

                <li><a href="{% url 'about' %}">About Us</a></li>
                <li class="currentpage"><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="{% url 'sponsors' %}">Sponsors</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    
            </ul>
        </div>

        <div id="spacer">
        </div>


    </body>

</html>
