{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Contact Us: GrocerCheck</title>
        <link rel='icon' type=image.png' href="{% static 'images/GrocerCheckFavicon.png' %}" />
        <link href = 'https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
        <link rel='stylesheet' href = "{% static 'css/navbar.css' %}">
        <link rel='stylesheet' href = "{% static 'css/infopage.css' %}">
        <style>
            #contacttitle {
                text-align: center;
                text-decoration: none;
                position: relative;
                width: 75%;
                left: 15%;
            }



        </style>
    </head>


    <body>


        <div id="horizontalnav">
            <a href="{% url 'index' %}">
                <img src="{% static 'images/GrocerCheck-01.png' %}" alt="GrocerCheck Logo" >
            </a>

            <ul id="navbarlist">
                <li><a href="{% url 'index' %}">Home</a></li>

                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="{% url 'sponsors' %}">Sponsors</a></li>
                    <li class="currentpage"><a href="{% url 'contact' %}">Contact Us</a></li>
                                </ul>
        </div>

        <div id="spacer">
        </div>

        <div id = "contacttitle">
            <h1 style = "font-size: 60px;">Let's get in touch.</h1>
        </div>

        <ul id="contactlist">
            <li>
                <h2 style = "font-size: 30px;">Questions? Concerns? Or just want to say hi?</h2>
                <a href="mailto:inquiry@grocercheck.ca?"
    </body>
</html>
     
