{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Cookie Policy: GrocerCheck</title>
	<meta name='viewport' content="width=device-width, initial-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
	<link rel='stylesheet' href="{% static 'css/hamburger.css' %}">
	<link rel='stylesheet' href="{% static 'css/navbar.css' %}">
	<link rel="stylesheet" href="{% static 'css/infopage.css' %}">
	<link rel='shortcut icon' type='image/png' href="{% static 'favicon.ico' %}" />

<style>


</style>


</head>

<body>

	<!-- hamburger menu -->
		<nav role="navigation">
			<div id="navtoggle">
				<input type="checkbox" id="hamburgerbutton"/>
				<div id='spansquare'>	</div>
				<span></span>
				<span></span>
				<span></span>


				<ul id="navmenu">
					<a href="{% url 'index' %}"><li>Home</li></a>
					<a href="{% url 'about' %}"><li>About Us</li></a>
					<a href="{% url 'covidwatch' %}"><li>CovidWatch</li></a>
					<a href="{% url 'partners' %}"><li>Partners</li></a>
					<a href="{% url 'contact' %}"><li>Contact Us</li></a>

				</ul>
			</div>
		</nav>

        <div id="horizontalnav">
            <a href="{% url 'index' %}">
                <img src="{% static 'images/GrocerCheck-01.png' %}" alt="GrocerCheck Logo" >
            </a>
            <ul id="navbarlist">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'covidwatch' %}">CovidWatch</a></li>
            <li><a href="{% url 'partners' %}">Partners</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>

            </ul>
        </div>

        <div id="spacer">
        </div>

        <div style="position: relative; padding-right: 10%; padding-left: 10%; margin-right: auto; margin-right: auto; text-align: center;">
        
            <p style="font-size: 2em"><strong>GROCERCHECK COOKIE POLICY </strong></p>

            <p><strong>Cookies Policy</strong></p>

            <p>Last updated: May 30, 2020</p>

            <p>GrocerCheck Foundation (“us”, “we”, or “our”) uses cookies on <u>https://grocercheck.ca/</u> (the “Service”). By using the Service, you consent to the use of cookies. </p>

            <p>The Cookies Policy explains what cookies are, how we use cookies, how third-parties partner with may use cookies on the Service, your choices regarding cookies and future information about cookies</p>

            <p><strong>What are Cookies? </strong></p>

            <p>Cookies are small pieces of data sent by your web browser to a website that you have visited. A cookies file will be stored in your web browser and allows the Service or a third-party to acknowledge your access to the website and use this information to make the Service more accessible for you. </p>

            <p><strong>How GrocerCheck Foundation uses cookies?</strong></p>

            <p>We use Cookies and similar tracking technologies to track the activity on Our Service and store certain information. Tracking technologies used are beacons, tags, and scripts to collect and track information and to improve and analyze Our Service. You can instruct Your browser to refuse all Cookies or to indicate when a Cookie is being sent. However, if You do not accept Cookies, You may not be able to use some parts of our Service.</p>


            <p><strong>Purpose</strong></p>

            <p>These Cookies are essential to provide You with services available through the Website and to enable You to use some of its features. They help to authenticate users and prevent fraudulent use of user accounts. Without these Cookies, the services that You have asked for may not function or be provided as intended. </p>

            <p><strong>Use of your personal data</strong></p>
            <p>GrocerCheck Foundation uses Your personal data collected through Our Website for analytic purposes only.</p>

            <p><strong>Analytics</strong></p>

            <p>Our website uses Google Analytics, a web analysis service of Google, Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043 USA, www.google.com (“Google Analytics” or “Google”). Google Analytics employs cookies that are stored to your computer in order to facilitate an analysis of your use of the site. The information generated by these cookies, such as time, place and frequency of your visits to our site, including your IP address, is transmitted to Google’s location in the US and stored there. Google uses this information to analyze your use of our site, to compile reports for us on internet activity and to provide other services relating to our website.</p>

            <p>Google may also transfer this information to third parties where required to do so by law or where such third parties process this data on Google’s behalf. Google states that it will never associate your IP address with other data held by Google. You can prevent cookies from being installed by adjusting the settings on your browser software accordingly as noted in the Privacy Policy. </p>

            <p><strong>Third-party cookies</strong></p>

            <p>In addition to our own use of cookies, we may also use other third-parties cookies to deliver advertisements on and through the Service based on the User’s prior visits to our Service and/or other sites on the internet. Users may opt out of personalized advertising by visiting Ads Settings. Alternatively, you can direct users to opt out of a third-party vendor's use of cookies for personalized advertising by visiting www.aboutads.info.</p>


            <p><strong>COMPLETE AGREEMENT </strong></p>

            <p>Your access to and use of the service is conditioned on your acceptance and compliance with the Cookies Policy. Policy and use are listed above. This policy applies to all visitors, users and others who access or use the service. </p>

            <p>By accessing or using the service you agree to the bound by this Policy. If you disagree with the part of the terms then you may not access the service. </p>

            <p><strong>TERMINATION</strong></p>

            <p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Policy above.</p>


            <p><strong>CHANGES TO THE POLICY</strong></p>
            <p>We will update this cookie policy in time. Any changes will be posted on this page with an updated revision date. If we make any policy changes, we will provide an update through the Service or other platforms. </p>



    </div>
</body>
</html>
