{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Cookie Policy: GrocerCheck</title>
	<meta name='viewport' content="width=device-width, initial-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
	<link rel='stylesheet' href="{% static 'css/hamburger.css' %}">
	<link rel='stylesheet' href="{% static 'css/navbar.css' %}">
	<link rel="stylesheet" href="{% static 'css/infopage.css' %}">
	<link rel='shortcut icon' type='image/png' href="{% static 'favicon.ico' %}" />

<style>


</style>


</head>

<body>

	<!-- hamburger menu -->
		<nav role="navigation">
			<div id="navtoggle">
				<input type="checkbox" id="hamburgerbutton"/>
				<div id='spansquare'>	</div>
				<span></span>
				<span></span>
				<span></span>


				<ul id="navmenu">
					<a href="{% url 'index' %}"><li>Home</li></a>
					<a href="{% url 'about' %}"><li>About Us</li></a>
					<a href="{% url 'covidwatch' %}"><li>CovidWatch</li></a>
					<a href="{% url 'partners' %}"><li>Partners</li></a>
					<a href="{% url 'contact' %}"><li>Contact Us</li></a>

				</ul>
			</div>
		</nav>

        <div id="horizontalnav">
            <a href="{% url 'index' %}">
                <img src="{% static 'images/GrocerCheck-01.png' %}" alt="GrocerCheck Logo" >
            </a>
            <ul id="navbarlist">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'covidwatch' %}">CovidWatch</a></li>
            <li><a href="{% url 'partners' %}">Partners</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>

            </ul>
        </div>

        <div id="spacer">
        </div>

        <div style="position: relative; padding-right: 10%; padding-left: 10%; margin-right: auto; margin-right: auto; text-align: center;">
        
            <p style="font-size: 2em"><strong>GROCERCHECK COOKIE POLICY </strong></p>

            <p><strong>Cookies Policy</strong></p>

            <p>Last updated: May 30, 2020</p>

            <p>GrocerCheck Foundation (“us”, “we”, or “our”) uses cookies on <u>https://grocercheck.ca/</u> (the “Service”). By using the Service, you consent to the use of cookies. </p>

            <p>The Cookies Policy explains what cookies are, how we use cookies, how third-parties partner with may use cookies on the Service, your choices regarding cookies and future information about cookies</p>

            <p><strong>What are Cookies? </strong></p>

            <p>Cookies are small pieces of data sent by your web browser to a website that you have visited. A cookies file will be stored in your web browser and allows the Service or a third-party to acknowledge your access to the website and use this information to make the Service more accessible for you. </p>

            <p><strong>How GrocerCheck Foundation uses cookies?</strong></p>

            <p>We use Cookies and similar tracking technologies to track the activity on Our Service and store certain information. Tracking technologies used are beacons, tags, and scripts to collect and track information and to improve and analyze Our Service. You can instruct Your browser to refuse all Cookies or to indicate when a Cookie is being sent. However, if You do not accept Cookies, You may not be able to use some parts of our Service.</p>


            <p><strong>Purpose</strong></p>

            <p>These Cookies are essential to provide You with services available through the Website and to enable You to use some of its features. They help to authenticate users and prevent fraudulent use of user accounts. Without these Cookies, the services that You have asked for may not function or be provided as intended. </p>

            <p><strong>Use of your personal data</strong></p>
            <p>GrocerCheck Foundation uses Your personal data collected through Our Website for analytic purposes only.</p>

            <p><strong>Analytics</strong></p>

            <p>Our website uses Google Analytics, a web analysis service of Google, Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043 USA, www.google.com (“Google Analytics” or “Google”). Google Analytics employs cookies that are stored to your computer in order to facilitate an analysis of your use of the site. The information generated by these cookies, such as time, place and frequency of your visits to our site, including your IP address, is transmitted to Google’s location in the US and stored there. Google uses this information to analyze your use of our site, to compile reports for us on internet activity and to provide other services relating to our website.</p>

            <p>Google may also transfer this information to third parties where required to do so by law or where such third parties process this data on Google’s behalf. Google states that it will never associate your IP address with other data held by Google. You can prevent cookies from being installed by adjusting the settings on your browser software accordingly as noted in the Privacy Policy. </p>

            <p><strong>Third-party cookies</strong></p>

            <p>In addition to our own use of cookies, we may also use other third-parties cookies to deliver advertisements on and through the Service based on the User’s prior visits to our Service and/or other sites on the internet. Users may opt out of personalized advertising by visiting Ads Settings. Alternatively, you can direct users to opt out of a third-party vendor's use of cookies for personalized advertising by visiting www.aboutads.info.</p>


            <p><strong>COMPLETE AGREEMENT </strong></p>

            <p>Your access to and use of the service is conditioned on your acceptance and compliance with the Cookies Policy. Policy and use are listed above. This policy applies to all visitors, users and others who access or use the service. </p>

            <p>By accessing or using the service you agree to the bound by this Policy. If you disagree with the part of the terms then you may not access the service. </p>

            <p><strong>TERMINATION</strong></p>

            <p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Policy above.</p>


            <p><strong>CHANGES TO THE POLICY</strong></p>
            <p>We will update this cookie policy in time. Any changes will be posted on this page with an updated revision date. If we make any policy changes, we will provide an update through the Service or other platforms. </p>


            <p style="font-size:30px"><strong>&Eacute;dition Fran&ccedil;aise</strong></p>
            <p style="font-size: 2em"><strong>Politique de cookies</strong></p>

            <p>Derni&egrave;re R&eacute;vision: 4 Juin 2020</p>

            <p>La Fondation GrocerCheck (&laquo;nous&raquo;, &laquo;nous&raquo; ou &laquo;nos&raquo;) utilise des cookies sur https://grocercheck.ca/ (le &laquo;Service&raquo;). En utilisant le Service, vous consentez &agrave; l'utilisation de cookies.</p>

            <p>Notre politique en mati&egrave;re de cookies explique ce que sont les cookies, comment nous utilisons les cookies, comment les partenaires tiers peuvent utiliser les cookies sur le Service, vos choix concernant les cookies et les informations futures sur les cookies.</p>

            <p><strong>Que sont les cookies?</strong></p>

            <p>Les cookies sont de petits &eacute;l&eacute;ments de donn&eacute;es envoy&eacute;s par votre navigateur Web &agrave; un site Web que vous avez visit&eacute;. Un fichier de cookies sera stock&eacute; dans votre navigateur Web et permet au Service ou &agrave; un tiers de reconna&icirc;tre votre acc&egrave;s au site Web et d'utiliser ces informations pour rendre le Service plus accessible pour vous.</p>

            <p><strong>Comment la Fondation GrocerCheck utilise les cookies?</strong></p>

            <p>Nous utilisons des cookies et des technologies de suivi similaires pour suivre l'activit&eacute; sur notre service et stocker certaines informations. Les technologies de suivi utilis&eacute;es sont des balises et des scripts pour collecter et suivre des informations et pour am&eacute;liorer et analyser notre service. Vous pouvez demander &agrave; votre navigateur de refuser tous les cookies ou d'indiquer quand un cookie est envoy&eacute;. Cependant, si vous n'acceptez pas les cookies, vous ne pourrez peut-&ecirc;tre pas utiliser certaines parties de notre service.</p>

            <p><strong>Objectif</strong></p>

            <p>Ces cookies sont essentiels pour vous fournir les services disponibles sur le site Web et pour vous permettre d'utiliser certaines de ses fonctionnalit&eacute;s. Ils aident &agrave; authentifier les utilisateurs et &agrave; emp&ecirc;cher l'utilisation frauduleuse des comptes d'utilisateurs. Sans ces cookies, les services que vous avez demand&eacute;s peuvent ne pas fonctionner ou &ecirc;tre fournis comme pr&eacute;vu.</p>

            <p><strong>Utilisation De Vos Donn&eacute;es Personnelles</strong></p>

            <p>La Fondation GrocerCheck utilise vos donn&eacute;es personnelles collect&eacute;es via notre site Web seulement pour les analytiques.</p>

            <p><strong>Analytique</strong></p>

            <p>Notre site Web utilise Analytics Google, un service d'analyse Web de Google, Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043 USA, www.google.com (&laquo;Google Analytics&raquo; ou &laquo;Google&raquo;). Google Analytics utilise des cookies qui sont stock&eacute;s sur votre ordinateur afin de faciliter une analyse de votre utilisation du site. Les informations g&eacute;n&eacute;r&eacute;es par ces cookies, comme l'heure, le lieu et la fr&eacute;quence de vos visites sur notre site, y compris votre adresse IP, sont transmises &agrave; l'emplacement de Google aux &Eacute;tats-Unis et y sont stock&eacute;es. Google utilise ces informations pour analyser votre utilisation de notre site, pour compiler des rapports pour nous sur l'activit&eacute; Internet et pour fournir d'autres services li&eacute;s &agrave; notre site Web.</p>

            <p>Google peut &eacute;galement transf&eacute;rer ces informations &agrave; des tiers lorsque la loi l'exige ou lorsque ces tiers traitent ces donn&eacute;es pour le compte de Google. Google d&eacute;clare qu'il n'associera jamais votre adresse IP &agrave; d'autres donn&eacute;es d&eacute;tenues par Google. Vous pouvez emp&ecirc;cher l'installation de cookies en ajustant les param&egrave;tres de votre logiciel de navigation en cons&eacute;quence, comme indiqu&eacute; ailleurs dans cette politique de confidentialit&eacute;.</p>

            <p><strong>Cookies tiers</strong></p>

            <p>En plus de notre propre utilisation des cookies, nous pouvons &eacute;galement utiliser d'autres cookies tiers pour diffuser des publicit&eacute;s sur et via le Service sur la base des visites ant&eacute;rieures de l'Utilisateur &agrave; notre Service et / ou &agrave; d'autres sites sur Internet. Les utilisateurs peuvent d&eacute;sactiver la publicit&eacute; personnalis&eacute;e en visitant Param&egrave;tres des annonces. Alternativement, vous pouvez demander aux utilisateurs de refuser l'utilisation des cookies par un fournisseur tiers pour la publicit&eacute; personnalis&eacute;e en visitant www.aboutads.info.</p>

            <p><strong>Accord Complet</strong></p>

            <p>Votre acc&egrave;s et votre utilisation du service sont conditionn&eacute;s par votre acceptation et votre respect de la politique de cookies. La politique et l'utilisation sont r&eacute;pertori&eacute;es ci-dessus. Cette politique s'applique &agrave; tous les visiteurs, utilisateurs et autres personnes qui acc&egrave;dent ou utilisent le service.</p>
            <p>En acc&eacute;dant ou en utilisant le service, vous acceptez d'&ecirc;tre li&eacute; par cette politique. Si vous n'&ecirc;tes pas d'accord avec la partie des conditions, vous ne pouvez pas acc&eacute;der au service.</p>

            <p><strong>R&eacute;siliation</strong></p>

            <p>Nous pouvons r&eacute;silier ou suspendre l'acc&egrave;s &agrave; notre Service imm&eacute;diatement, sans pr&eacute;avis ni responsabilit&eacute;, pour quelque raison que ce soit, y compris sans limitation si vous enfreignez la Politique ci-dessus.</p>

            <p><strong>Modifications De La Politique</strong></p>

            <p>Nous mettrons &agrave; jour cette politique de cookies &agrave; temps. Toute modification sera publi&eacute;e sur cette page avec une date de r&eacute;vision mise &agrave; jour. Si nous apportons des changements de politique, nous fournirons une mise &agrave; jour via le Service ou d'autres plateformes</p>





    </div>
</body>
</html>
