{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>COVID Watch: GrocerCheck</title>
        <link rel='icon' type=image.png' href="{% static 'images/GrocerCheckFavicon.png' %}" />
        <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
        <link rel='stylesheet' href = "{% static 'css/hamburger.css' %}">
        <link rel='stylesheet' href = "{% static 'css/covidwatchposts.css' %}">
        <link rel='stylesheet' href = "{% static 'css/infopage.css' %}">
        <link rel='stylesheet' href = "{% static 'css/navbar.css' %}">
        
        <style>
            #titletext {
                text-align: center;
                text-decoration: none;
                position: relative;
                width: 75%;
                left: 15%;
            }
            
        </style>
    </head>


    <body>


	    <!-- hamburger menu -->
		<nav role="navigation">
			<div id="navtoggle">
				<input type="checkbox" id="hamburgerbutton"/>
				<div id='spansquare'>	</div>
				<span></span>
				<span></span>
				<span></span>


				<ul id="navmenu">
					<a href="{% url 'index' %}"><li>Home</li></a>
					<a href="{% url 'about' %}"><li>About Us</li></a>
					<a href="{% url 'covidwatch' %}"><li>COVID Watch</li></a>
					<a href="{% url 'sponsors' %}"><li>Sponsors</li></a>
					<a href="{% url 'contact' %}"><li>Contact Us</li></a>

				</ul>
			</div>
		</nav>



        <div id="horizontalnav">
            <a href="{% url 'index' %}">
                <img src="{% static 'images/GrocerCheck-01.png' %}" alt="GrocerCheck Logo" >
            </a>

                <ul id="navbarlist">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li class="currentpage"><a href="{% url 'covidwatch' %}">COVID Watch</a></li>
                <li><a href="{% url 'sponsors' %}">Sponsors</a></li>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
            </ul>
        </div>

        <div id="spacer"></div>

        <div id = "titletext">
            <h1 style = "font-size: 80px; margin-bottom: 0;">COVID Watch</h1>
            <p style="font-size:30px">COVID Watch is your source for quality student journalism on the impacts of COVID-19</p>
        </div>


            
        </div>
        <div style = "display: relative;"id = "watchposts">
            <div id="post_id_1" class = "responsive">
                <a target="_blank" style="text-decoration: none;" href = "https://grocercheck.ca/map/covidwatch/1">
                    <div class = "post">
                        <img style="border-top-right-radius: 10px; border-top-left-radius: 10px;" src = "{% static 'images/covidwatch/sanatizer.jpeg' %}" alt = "Test 1">
                        <div class="title">Title One</div>
                        <div class="author_name">Author One</div>
                        <div class="blurb">
                            <p>Lorem</p>
                            <p>Ipsum</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>


            <div id="thiscouldbeyou" class = "responsive">
                <a target="_blank" style="text-decoration: none;" href = "mailto:info@grocercheck.ca?subject=GrocerCheck-Interested%20Writer">
                    <div class = "post">
                        <img style="border-top-right-radius: 10px; border-top-left-radius: 10px; background-color: white;" src = "{% static 'images/GrocerCheckFavicon.png' %}" alt = "This could be you!">
                        <div class="title">This could be you!</div>
                        <div class="author_name">Interested in writing for CovidWatch?</div>
                        <div class="blurb">
                            <p>Get in touch with us! Email us at info@grocercheck.ca with your articles and we'll help you get it published.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>




    </body>

</html>
