<!DOCTYPE html>
<html>
  <head>
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 800px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
  </head>
  <body>
    <h3>GrocerCheck: Live Grocery Store Popularity</h3>

    <h6> hihi {{ testnum }} </h6>

    <!--The div element for the map -->
    <div id="map"></div>
    
    <script>
// Initialize and add the map
function initMap() {

 var hamber = {lat: 49.2399, lng: -123.1251};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 12, center: hamber});



  // The location of Uluru

	var stores = {{stores|safe}}
	
	var lat = {{lat|safe}}
	var lon = {{lon|safe}}
	
	var positions = []
	
	for(let x = 0;x<stores.length;x++){
		positions.push({lat:parseFloat(lat[x]), lng:parseFloat(lon[x])})
	}



     var marker = new google.maps.Marker({position: hamber, map: map});

	var markers = [] 
	
	var image = "/Users/andyliang/GrocerCheck/grocercheck/map/templates/marker.png"

	for(let x = 0; x<positions.length;x++){
		markers.push(new google.maps.Marker({position:positions[x],map: map,icon:image,label:{color:'blue',text:stores[x]}}))
	}
}
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
         
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqwU_hVg2OJ3zB7FOORGzGIdsWnXdXT-w&callback=initMap">
    </script>
  </body>
</html>
