{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Privacy Policy: GrocerCheck</title>
	<meta name='viewport' content="width=device-width, initial-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
	<link rel='stylesheet' href="{% static 'css/hamburger.css' %}">
	<link rel='stylesheet' href="{% static 'css/navbar.css' %}">
	<link rel="stylesheet" href="{% static 'css/infopage.css' %}">
	<link rel='shortcut icon' type='image/png' href="{% static 'favicon.ico' %}" />

<style>


</style>


</head>

<body>

	<!-- hamburger menu -->
		<nav role="navigation">
			<div id="navtoggle">
				<input type="checkbox" id="hamburgerbutton"/>
				<div id='spansquare'>	</div>
				<span></span>
				<span></span>
				<span></span>


				<ul id="navmenu">
					<a href="{% url 'index' %}"><li>Home</li></a>
					<a href="{% url 'about' %}"><li>About Us</li></a>
					<a href="{% url 'covidwatch' %}"><li>CovidWatch</li></a>
					<a href="{% url 'partners' %}"><li>Partners</li></a>
					<a href="{% url 'contact' %}"><li>Contact Us</li></a>

				</ul>
			</div>
		</nav>

        <div id="horizontalnav">
            <a href="{% url 'index' %}">
                <img src="{% static 'images/GrocerCheck-01.png' %}" alt="GrocerCheck Logo" >
            </a>
            <ul id="navbarlist">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'covidwatch' %}">CovidWatch</a></li>
            <li><a href="{% url 'partners' %}">Partners</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>

            </ul>
        </div>

        <div id="spacer">
        </div>

        <div style="position: relative; padding-right: 10%; padding-left: 10%; margin-right: auto; margin-right: auto; text-align: center;">
            <p style="font-size: 2em"><strong>GROCERCHECK PRIVACY POLICY </strong></p>

            <p><strong>Privacy Policy </strong></p>

            <p>Last updated: May 30, 2020</p>

            <p>GrocerCheck Foundation (“us”, “we”, or “our”) operates <u>https://grocercheck.ca/</u> (the “Service”). This document informs you that our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site. </p>

            <p>We use your Personal Information only towards improving and adapting the Service to best fit your needs. By using the Service, you agree to the collection and use of information in agreement with this policy.</p>

            <p>Please read the policy terms (“Policy, “Privacy Terms”) listed below carefully before using the <u>https://grocercheck.ca/</u> website (“the Service”) operated by GrocerCheck Foundation (“us”, “we”, or “our). </p>

            <p><strong>Usage Data</strong></p>

            <p>Usage Data is collected automatically when using the Service.</p>

            <p>Usage Data may include information such as Your Device's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that You visit, the time and date of Your visit, the time spent on those pages, unique device identifiers and other diagnostic data.</p>

            <p>When You access the Service by or through a mobile device, We may collect certain information automatically, including, but not limited to, the type of mobile device You use, Your mobile device unique ID, the IP address of Your mobile device, Your mobile operating system, the type of mobile Internet browser You use, unique device identifiers and other diagnostic data. We may also collect information that Your browser sends whenever You visit our Service or when You access the Service by or through a mobile device.</p>

            <p><strong>Analytics</strong></p>

            <p>Our website uses Google Analytics, a web analysis service of Google, Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043 USA, www.google.com ("Google Analytics" or "Google"). Google Analytics employs cookies that are stored to your computer in order to facilitate an analysis of your use of the site. The information generated by these cookies, such as time, place and frequency of your visits to our site, including your IP address, is transmitted to Google's location in the US and stored there. Google uses this information to analyze your use of our site, to compile reports for us on internet activity and to provide other services relating to our website.</p>

            <p>Google may also transfer this information to third parties where required to do so by law or where such third parties process this data on Google’s behalf. Google states that it will never associate your IP address with other data held by Google. You can prevent cookies from being installed by adjusting the settings on your browser software accordingly as noted elsewhere in this Privacy Policy. </p>

            <p><strong>Tracking Technologies and Cookies</strong></p>

            <p>We use Cookies and similar tracking technologies to track the activity on Our Service and store certain information. Tracking technologies used are beacons, tags, and scripts to collect and track information and to improve and analyze Our Service. You can instruct Your browser to refuse all Cookies or to indicate when a Cookie is being sent. However, if You do not accept Cookies, You may not be able to use some parts of our Service.</p>

            <p><strong>Purpose:</strong> These Cookies are essential to provide You with services available through the Website and to enable You to use some of its features. They help to authenticate users and prevent fraudulent use of user accounts. Without these Cookies, the Service may not function or be provided as intended. </p>

            <p><strong>Use of Your Personal Data</strong></p>

            <p>GrocerCheck Foundation uses Your personal data collected through Our Website for analytic and advertising purposes in order to improve and adapt the Service to best fit user needs. </p>

            <p><strong>Complete Agreement </strong></p>

            <p>Your access to and use of the service is conditioned on your acceptance and compliance with this policy. The policy is listed above. These terms apply to all visitors, users and others who access or use the service. </p>

            <p>By accessing or using the service you agree to the bound by this Policy. If you disagree with any part of the policy then you may not access the service. </p>

            <p><strong>Termination</strong></p>

            <p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Policy above.</p>

            <p><strong>Changes to this Privacy Policy</strong></p>

            <p>We may update our Privacy Policy in time.  Any changes will be posted on this page with an updated revision date. If we make any policy changes, we will provide an update through the Service or other platforms. </p>
         
         
        <p style="font-size:30px"><strong>&Eacute;dition Fran&ccedil;aise</strong></p>
        <p style="font-size: 2em"><strong>Politique de confidentialit&eacute;</strong></p>
        <p>Derni&egrave;re mise &agrave; jour: 4 Juin 2020</p>
        <p>La Fondation GrocerCheck (&laquo;nous&raquo;, &laquo;nous&raquo; ou &laquo;nos&raquo;) exploite https://grocercheck.ca/ (le &laquo;Service&raquo;). Ce document vous informe que nos politiques concernant la collecte, l&#39;utilisation et la divulgation des informations personnelles que nous recevons des utilisateurs du site.</p>
        <p>Nous utilisons vos informations personnelles uniquement pour am&eacute;liorer et adapter le service afin de r&eacute;pondre au mieux &agrave; vos besoins. En utilisant le Service, vous acceptez la collecte et l&#39;utilisation d&#39;informations en accord avec cette politique.</p>
        <p><strong>Politique de confidentialit&eacute;</strong></p>
        <p>Veuillez lire attentivement les conditions de la politique (&laquo;Politique,&laquo; Conditions de confidentialit&eacute; &raquo;) &eacute;num&eacute;r&eacute;es ci-dessous avant d&#39;utiliser le site Web https://grocercheck.ca/map/ (&laquo; le Service &raquo;) exploit&eacute; par la Fondation GrocerCheck (&laquo; nous &raquo;,&laquo; nous &raquo;, ou &quot;notre).</p>
        <p><strong>Donn&eacute;es d&#39;utilisation</strong></p>
        <p>Les donn&eacute;es d&#39;utilisation sont collect&eacute;es automatiquement lors de l&#39;utilisation du service.</p>
        <p>Les donn&eacute;es d&#39;utilisation peuvent inclure des informations telles que l&#39;adresse de protocole Internet de votre appareil (l&#39;adresse IP), le type de navigateur, la version du navigateur, les pages de notre service que vous visitez, l&#39;heure et la date de votre visite, le temps pass&eacute; sur ces pages, un appareil unique identifiants et autres donn&eacute;es de diagnostic.</p>
        <p>Lorsque vous acc&eacute;dez au service par ou via un appareil mobile, nous pouvons collecter certaines informations automatiquement, y compris, mais sans s&#39;y limiter, le type d&#39;appareil mobile que vous utilisez, l&#39;ID unique de votre appareil mobile, l&#39;adresse IP de votre appareil mobile, votre mobile syst&egrave;me d&#39;exploitation, le type de navigateur Internet mobile que vous utilisez, des identifiants d&#39;appareil uniques et d&#39;autres donn&eacute;es de diagnostic. Nous pouvons &eacute;galement collecter des informations que votre navigateur envoie chaque fois que vous visitez notre service ou lorsque vous acc&eacute;dez au service par ou via un appareil mobile.</p>
        <p><strong>Analytique</strong></p>
        <p>Notre site Web utilise Google Analytics, un service d&#39;analyse Web de Google, Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043 USA, www.google.com (&quot;Google Analytics&quot; ou &quot;Google&quot;). Google Analytics utilise des cookies qui sont stock&eacute;s sur votre ordinateur afin de faciliter une analyse de votre utilisation du site. Les informations g&eacute;n&eacute;r&eacute;es par ces cookies, telles que l&#39;heure, le lieu et la fr&eacute;quence de vos visites sur notre site, y compris votre adresse IP, sont transmises &agrave; l&#39;emplacement de Google aux &Eacute;tats-Unis et y sont stock&eacute;es. Google utilise ces informations pour analyser votre utilisation de notre site, pour compiler des rapports pour nous sur l&#39;activit&eacute; Internet et pour fournir d&#39;autres services li&eacute;s &agrave; notre site Web.</p>
        <p>Google peut &eacute;galement transf&eacute;rer ces informations &agrave; des tiers lorsque la loi l&#39;exige ou lorsque ces tiers traitent ces donn&eacute;es pour le compte de Google. Google d&eacute;clare qu&#39;il n&#39;associera jamais votre adresse IP &agrave; d&#39;autres donn&eacute;es d&eacute;tenues par Google. Vous pouvez emp&ecirc;cher l&#39;installation de cookies en ajustant les param&egrave;tres de votre logiciel de navigation en cons&eacute;quence, comme indiqu&eacute; ailleurs dans cette politique de confidentialit&eacute;.</p>
        <p><strong>Technologies de suivi et cookies</strong></p>
        <p>Nous utilisons des cookies et des technologies de suivi similaires pour suivre l&#39;activit&eacute; sur notre service et stocker certaines informations. Les technologies de suivi utilis&eacute;es sont des balises, des balises et des scripts pour collecter et suivre des informations et pour am&eacute;liorer et analyser notre service. Vous pouvez demander &agrave; votre navigateur de refuser tous les cookies ou d&#39;indiquer quand un cookie est envoy&eacute;. Cependant, si vous n&#39;acceptez pas les cookies, vous ne pourrez peut-&ecirc;tre pas utiliser certaines parties de notre service.</p>
        <p>Objet: Ces cookies sont essentiels pour vous fournir les services disponibles sur le site Web et pour vous permettre d&#39;utiliser certaines de ses fonctionnalit&eacute;s. Ils aident &agrave; authentifier les utilisateurs et &agrave; emp&ecirc;cher l&#39;utilisation frauduleuse des comptes d&#39;utilisateurs. Sans ces cookies, les services que vous avez demand&eacute;s peuvent ne pas fonctionner ou &ecirc;tre fournis comme pr&eacute;vu.</p>
        <p><strong>Utilisation de vos donn&eacute;es personnelles</strong></p>
        <p>La Fondation GrocerCheck utilise vos donn&eacute;es personnelles collect&eacute;es via notre site Web &agrave; des fins analytiques uniquement. Cet objectif analytique vise &agrave; am&eacute;liorer et &agrave; adapter notre site Web pour r&eacute;pondre au mieux &agrave; vos besoins.</p>
        <p><strong>Accord complet</strong></p>
        <p>Votre acc&egrave;s et votre utilisation du service sont conditionn&eacute;s &agrave; votre acceptation et respect de cette politique. La politique est r&eacute;pertori&eacute;e ci-dessus. Ces conditions s&#39;appliquent &agrave; tous les visiteurs, utilisateurs et autres personnes qui acc&egrave;dent ou utilisent le service.</p>
        <p>En acc&eacute;dant ou en utilisant le service, vous acceptez d&#39;&ecirc;tre li&eacute; par cette politique. Si vous n&#39;&ecirc;tes pas d&#39;accord avec une partie de la politique, vous ne pouvez pas acc&eacute;der au service.</p>
        <p><strong>R&eacute;siliation</strong></p>
        <p>Nous pouvons r&eacute;silier ou suspendre l&#39;acc&egrave;s &agrave; notre Service imm&eacute;diatement, sans pr&eacute;avis ni responsabilit&eacute;, pour quelque raison que ce soit, y compris sans limitation si vous enfreignez la Politique ci-dessus.</p>
        <p><strong>Modifications de cette politique de confidentialit&eacute;</strong></p>
        <p>Nous pouvons mettre &agrave; jour notre politique de confidentialit&eacute; &agrave; temps. Toute modification sera publi&eacute;e sur cette page avec une date de r&eacute;vision mise &agrave; jour. Si nous apportons des changements de politique, nous fournirons une mise &agrave; jour via le Service ou d&#39;autres plateformes.</p>
        <p><br></p>
        <p><br></p>
                 
         
         
        </div>





<br></br>

</body>
</html>
