{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Sponsors: GrocerCheck</title>
        <link rel='icon' type=image.png' href="{% static 'images/GrocerCheckFavicon.png' %}" />
        <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
        <link rel='stylesheet' href = "{% static 'css/navbar.css' %}">
        <link rel='stylesheet' href = "{% static 'css/infopage.css' %}">
        <link rel='stylesheet' href = "{% static 'css/sponsors.css' %}">


        <style>
    
            #our_sponsors{
                text-align: center;
                text-decoration: none;
                position: relative;
                width: 70%;
                left: 15%;
            }

        </style>

    </head>

    <body>

    <div id="horizontalnav">
            <a href="{% url 'index' %}">
                <img src="{% static 'images/GrocerCheck-01.png' %}" alt="GrocerCheck Logo" style="position: relative; left: 0; top: 0;background-color:top: 0; whitve;display: inline; padding: calc(1em / 4); padding-bottom: 0;margin: 0; float: left;margin-right: 10em;height: 4.5em; width: calc(4.5em * calc(1146 / 314)); border: 0;">
            </a>
            <ul id="navbarlist">
                <li><a href="{% url 'index' %}">Home</a></li>

                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
            <li class="currentpage"><a href="{% url 'sponsors' %}">Sponsors</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    <li><a href="{% url 'media' %}">Media</a></li>	
            </ul>
        </div>

        <div id="spacer">
        </div>

		<div id="our_sponsors">
			<h1 style="font-size: 60px;">Our Sponsors</h1>
			<p>GrocerCheck cannot exist without the support of our amazing sponsors.</p>
		</div>

        <div id = "sponsors">
            <div id="luminati" class = "responsive">
                <div class = "sponsorprofiles">
                    <a target="_blank" href = "https://luminati.io/?affiliate=ref_5eaf77edc7669177ab3b82b5">
                        <img style="border-top-right-radius: 10px; border-top-left-radius: 10px;" src = "{% static 'images/luminati_logo.jpg' %}" alt = "Brian Chen">
                    </a>
                    <div class="sponsor_name">Luminati.io</div>
                    <div class="sponsor_rank_gold">GOLD SPONSOR</div>
                    <div class="blurb">
                        <p>GrocerCheck relies on Luminati's fast and secure proxy networks to bring you the most accurate data possible.</p>
                        
                        <p>Luminati Networks is a leading data collection automation platform 
                    serving over 10,000 customers worldwide. The company serves and helps all organizations reach actionable 
                    near-live data quickly - by collecting public data in an ethnical manner.</p>
                    </div>
                </div>
            </div>
        </div>
            





    </body>

</html>
