{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Sponsors: GrocerCheck</title>
        <link rel='icon' type=image.png' href="{% static 'images/GrocerCheckFavicon.png' %}" />
        <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
        <link rel='stylesheet' href = "{% static 'css/navbar.css' %}">
        <link rel='stylesheet' href = "{% static 'css/infopage.css' %}">


    <style>
    </style>

    </head>

    <body>

    <div id="horizontalnav">
            <a href="{% url 'index' %}">
                <img src="{% static 'images/GrocerCheck-01.png' %}" alt="GrocerCheck Logo" style="position: relative; left: 0; top: 0;background-color:top: 0; whitve;display: inline; padding: calc(1em / 4); padding-bottom: 0;margin: 0; float: left;margin-right: 10em;height: 4.5em; width: calc(4.5em * calc(1146 / 314)); border: 0;">
            </a>
            <ul id="navbarlist">
                <li><a href="{% url 'index' %}">Home</a></li>

                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
            <li class="currentpage"><a href="{% url 'sponsors' %}">Sponsors</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    <li><a href="{% url 'media' %}">Media</a></li>	
            </ul>
        </div>

        <div id="spacer">
        </div>




    </body>

</html>
