{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Sponsors: GrocerCheck</title>
        <link rel='icon' type=image.png' href="{% static 'images/GrocerCheckFavicon.png' %}" />
        <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
        <link rel='stylesheet' href = "{% static 'css/hamburger.css' %}">
        <link rel='stylesheet' href = "{% static 'css/sponsors.css' %}">
        <link rel='stylesheet' href = "{% static 'css/infopage.css' %}">
        <link rel='stylesheet' href = "{% static 'css/navbar.css' %}">

        
        <style>
            #our_sponsors{
                text-align: center;
                text-decoration: none;
                position: relative;
                width: 70%;
                left: 15%;
            }
            
            #sponsor_inq{
                color: white;
                text-align: center;
                text-decoration: none;
                position: relative;
                width: 70%;
                left: 15%;
            }



        </style>

    </head>

    <body>


	    <!-- hamburger menu -->
		<nav role="navigation">
			<div id="navtoggle">
				<input type="checkbox" id="hamburgerbutton"/>
				<div id='spansquare'>	</div>
				<span></span>
				<span></span>
				<span></span>


				<ul id="navmenu">
					<a href="{% url 'index' %}"><li>Home</li></a>
					<a href="{% url 'about' %}"><li>About Us</li></a>
					<a href="{% url 'blog' %}"><li>Blog</li></a>
					<a href="{% url 'sponsors' %}"><li>Sponsors</li></a>
					<a href="{% url 'contact' %}"><li>Contact Us</li></a>

				</ul>
			</div>
		</nav>
        
        <div id="horizontalnav">
            <a href="{% url 'index' %}">
                <img src="{% static 'images/GrocerCheck-01.png' %}" alt="GrocerCheck Logo" >
            </a>
            <ul id="navbarlist">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
            <li class="currentpage"><a href="{% url 'sponsors' %}">Sponsors</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    	
            </ul>
        </div>

        <div id="spacer">
        </div>

		<div id="our_sponsors">
			<h1 style="font-size: 80px;">Our Sponsors</h1>
			<p style="font-size: 25px">GrocerCheck cannot exist without the support of our amazing sponsors.</p>
            <br>
            <br>
		</div>

        <div style = "display: relative;"id = "sponsors">
            <div id="luminati" class = "responsive">
                <div class = "sponsorprofiles">
                    <a target="_blank" href = "https://luminati.io/?affiliate=ref_5eaf77edc7669177ab3b82b5">
                        <img style="border-top-right-radius: 10px; border-top-left-radius: 10px;" src = "{% static 'images/luminati_logo.jpg' %}" alt = "Luminati.io">
                    </a>
                    <div class="sponsor_name">Luminati.io</div>
                    <div class="sponsor_rank_gold">GOLD SPONSOR</div>
                    <div class="blurb">
                        <p>GrocerCheck relies on Luminati's fast and secure proxy networks to bring you the most accurate data possible.</p>
                        <p>Luminati Networks is a leading data collection automation platform 
                    serving over 10,000 customers worldwide. The company serves and helps all organizations reach actionable 
                    near-live data quickly - by collecting public data in an ethnical manner.</p>
                    </div>
                </div>
            </div>

            <div id="this_could_be_you" class = "responsive">
                <div class = "sponsorprofiles">
                    <a target="_blank" href = "mailto:preston@grocercheck.ca?subject=GrocerCheck%20Sponsorship%20Inquiry">
                        <img style="border-top-right-radius: 10px; border-top-left-radius: 10px; background-color: white;" src = "{% static 'images/GrocerCheckFavicon.png' %}" alt = "This could be you">
                    </a>
                    <div class="sponsor_name">This could be you.</div>
                    <div class="sponsor_rank_gold">GOLD SPONSOR</div>
                    <div class="blurb">
                        <p>Want to work with us?</p>
                        <p>Please contact Preston (preston@grocercheck.ca) for our sponsorship packages</p>
                    </div>
                </div>
            </div>



        </div>
            
            



    </body>

</html>
