{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Terms and Conditions: GrocerCheck</title>
	<meta name='viewport' content="width=device-width, initial-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
	<link rel='stylesheet' href="{% static 'css/hamburger.css' %}">
	<link rel='stylesheet' href="{% static 'css/navbar.css' %}">
	<link rel="stylesheet" href="{% static 'css/infopage.css' %}">
	<link rel='shortcut icon' type='image/png' href="{% static 'favicon.ico' %}" />

<style>


</style>


</head>

<body>

	<!-- hamburger menu -->
		<nav role="navigation">
			<div id="navtoggle">
				<input type="checkbox" id="hamburgerbutton"/>
				<div id='spansquare'>	</div>
				<span></span>
				<span></span>
				<span></span>


				<ul id="navmenu">
					<a href="{% url 'index' %}"><li>Home</li></a>
					<a href="{% url 'about' %}"><li>About Us</li></a>
					<a href="{% url 'covidwatch' %}"><li>CovidWatch</li></a>
					<a href="{% url 'partners' %}"><li>Partners</li></a>
					<a href="{% url 'contact' %}"><li>Contact Us</li></a>

				</ul>
			</div>
		</nav>

        <div id="horizontalnav">
            <a href="{% url 'index' %}">
                <img src="{% static 'images/GrocerCheck-01.png' %}" alt="GrocerCheck Logo" >
            </a>
            <ul id="navbarlist">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'covidwatch' %}">CovidWatch</a></li>
            <li><a href="{% url 'partners' %}">Partners</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>

            </ul>
        </div>

        <div id="spacer">
        </div>

<div style="position: relative; padding-right: 10%; padding-left: 10%; margin-right: auto; margin-right: auto; text-align: center;">
    
    <p style="font-size: 2em"><strong>GROCERCHECK TERMS AND CONDITIONS </strong></p>

    <p><strong>Terms and Conditions (“Terms”) </strong></p>

    <p>Last updated: May 30, 2020 </p>

    <p><strong>Content</strong></p>

    <p>The data presented by GrocerCheck Foundation is provided for informational purposes only, and cannot be a replacement for common sense and the user's best judgement. GrocerCheck is but one tool with which you may make the best decisions for your health and safety. Although reasonable steps have been taken to ensure the information displayed is accurate and reliable, GrocerCheck Foundation does not guarantee its completeness, accuracy, timeliness, or the results obtained from the use of this information.</p>

    <p>The views, opinions, and information presented by the CovidWatch publication do not constitute professional advice of any form, and are provided for informational purposes only. The views and opinions expressed by CovidWatch authors do not necessarily represent the views of GrocerCheck Foundation, its Sponsors, Partners, or Affiliates. Although reasonable steps have been taken to ensure the information displayed by CovidWatch is accurate and reliable, GrocerCheck Foundation does not guarantee its completeness, accuracy, timeliness, or the results obtained from the use of this information. </p>

    <p><strong>Terms and Conditions </strong></p>

    <p>Please read these Terms and Conditions (“Terms”, “Terms and Conditions”) listed below carefully before using the <u>https://grocercheck.ca/</u> website (“the Service”) operated by GrocerCheck Foundation (“us”, “we”, or “our).</p>

    <p><strong>Links To Other Websites</strong></p>
    <p><u>https://grocercheck.ca/</u> contains links to other websites. GrocerCheck Foundation does not own or control any other websites or any of their contents. Your decision to follow any link to or use any other websites is at your own risk. </p>

    <p><strong>Cookies And Privacy</strong></p>
    <p>We collect cookies (which are small pieces of data that are stored by your browser on your computer that give us information about you and your computer) to improve your user experience. You can configure your browser to reject cookies. We also use your IP address to help administer this website and gather demographic information regarding visitors to our website. We collect and use all such information and other personal information in accordance with our Privacy Policy. For more information about cookie use, please refer to our Cookie Policy.</p>
    <p><strong>No liability</strong></p>
    <p>This website is provided on an “as is” basis. GrocerCheck Foundation and its partners expressly disclaims liability for any damages or losses arising from or in any way relating to your or any other person’s use of, or reliance on, this website or any other website or any website content. This includes any damages or losses arising from any virus or other malware transmitted through this website or any other website.</p>

    <p><strong>Complete Agreement </strong></p>

    <p>Your access to and use of the Service is conditioned on your acceptance and compliance with these Terms. Terms are listed above. These terms apply to all visitors, users and others who access or use the Service. </p>

    <p>By accessing or using the Service you argree to these Terms. If you disagree with the part of the terms then you may not use the Service.</p>

    <p><strong>Termination</strong></p>

    <p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the terms above. </p>

</div>


</body>
</html>
