{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Terms and Conditions: GrocerCheck</title>
	<meta name='viewport' content="width=device-width, initial-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
	<link rel='stylesheet' href="{% static 'css/hamburger.css' %}">
	<link rel='stylesheet' href="{% static 'css/navbar.css' %}">
	<link rel="stylesheet" href="{% static 'css/infopage.css' %}">
	<link rel='shortcut icon' type='image/png' href="{% static 'favicon.ico' %}" />

<style>


</style>


</head>

<body>

	<!-- hamburger menu -->
		<nav role="navigation">
			<div id="navtoggle">
				<input type="checkbox" id="hamburgerbutton"/>
				<div id='spansquare'>	</div>
				<span></span>
				<span></span>
				<span></span>


				<ul id="navmenu">
					<a href="{% url 'index' %}"><li>Home</li></a>
					<a href="{% url 'about' %}"><li>About Us</li></a>
					<a href="{% url 'covidwatch' %}"><li>CovidWatch</li></a>
					<a href="{% url 'partners' %}"><li>Partners</li></a>
					<a href="{% url 'contact' %}"><li>Contact Us</li></a>

				</ul>
			</div>
		</nav>

        <div id="horizontalnav">
            <a href="{% url 'index' %}">
                <img src="{% static 'images/GrocerCheck-01.png' %}" alt="GrocerCheck Logo" >
            </a>
            <ul id="navbarlist">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'covidwatch' %}">CovidWatch</a></li>
            <li><a href="{% url 'partners' %}">Partners</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>

            </ul>
        </div>

        <div id="spacer">
        </div>

	<div id="heading" style="text-align: center;">
		<h1 style="font-size: 80px; width: 80%; margin-left: auto; margin-right: auto;">Terms and Conditions</h1>
		<p style="font-size: 16px"><b>OWNERSHIP</b><br></br>
This website, all of its contents and the copyright in the contents are owned by GrocerCheck Foundation. <br></br><br></br>

<b>CONTENT</b><br></br>
The data presented by GrocerCheck Foundation is provided for informational purposes only, and cannot be a replacement for common sense and the user's best judgement. GrocerCheck is but one tool with which you may make the best decisions for your health and safety. Although reasonable steps have been taken to ensure the information displayed is accurate and reliable, GrocerCheck Foundation does not guarantee its completeness, accuracy, timeliness, or the results obtained from the use of this information.<br></br>

The views, opinions, and information presented by the CovidWatch publication do not constitute professional advice of any form, and are provided for informational purposes only. The views and opinions expressed by CovidWatch authors do not necessarily represent the views of GrocerCheck Foundation, its Sponsors, Partners, or Affiliates. Although reasonable steps have been taken to ensure the information displayed by CovidWatch is accurate and reliable, GrocerCheck Foundation does not guarantee its completeness, accuracy, timeliness, or the results obtained from the use of this information. <br></br><br></br>

<b>LINKS TO OTHER WEBSITES</b><br></br>
This website contains links to other websites. GrocerCheck Foundation does not own or control any other websites or any of their contents. Your decision to follow any link to or use any other websites is at your own risk.<br></br><br></br>

<b>COOKIES AND PRIVACY</b><br></br>
<p>We collect cookies (which are small pieces of data that are stored by your browser on your computer that give us information about you and your computer) to improve your user experience of this website unless your browser is configured to reject them. We also use your IP address to help administer this website and gather demographic information regarding visitors to our website. We collect and use all such information and other personal information in accordance with our Privacy Policy. For more information about cookie use, please refer to our Cookie Policy.</p><br></br><br></br>

<b>NO LIABILITY</b><br></br>
This website is provided on an “as is” basis. GrocerCheck Foundation expressly disclaims liability for any damages or losses arising from or in any way relating to your or any other person’s use of, or reliance on, this website or any other website or any website content. This includes any damages or losses arising from any virus or other malware transmitted through this website or any other website.<br></br>
</p>
	</div>
	</div>


</body>
</html>
