{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Terms and Conditions: GrocerCheck</title>
	<meta name='viewport' content="width=device-width, initial-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
	<link rel='stylesheet' href="{% static 'css/hamburger.css' %}">
	<link rel='stylesheet' href="{% static 'css/navbar.css' %}">
	<link rel="stylesheet" href="{% static 'css/infopage.css' %}">
	<link rel='shortcut icon' type='image/png' href="{% static 'favicon.ico' %}" />

<style>


</style>


</head>

<body>

	<!-- hamburger menu -->
		<nav role="navigation">
			<div id="navtoggle">
				<input type="checkbox" id="hamburgerbutton"/>
				<div id='spansquare'>	</div>
				<span></span>
				<span></span>
				<span></span>


				<ul id="navmenu">
					<a href="{% url 'index' %}"><li>Home</li></a>
					<a href="{% url 'about' %}"><li>About Us</li></a>
					<a href="{% url 'covidwatch' %}"><li>CovidWatch</li></a>
					<a href="{% url 'partners' %}"><li>Partners</li></a>
					<a href="{% url 'contact' %}"><li>Contact Us</li></a>

				</ul>
			</div>
		</nav>

        <div id="horizontalnav">
            <a href="{% url 'index' %}">
                <img src="{% static 'images/GrocerCheck-01.png' %}" alt="GrocerCheck Logo" >
            </a>
            <ul id="navbarlist">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'covidwatch' %}">CovidWatch</a></li>
            <li><a href="{% url 'partners' %}">Partners</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>

            </ul>
        </div>

        <div id="spacer">
        </div>

<div style="position: relative; padding-right: 10%; padding-left: 10%; margin-right: auto; margin-right: auto; text-align: center;">
    
    <p style="font-size: 2em"><strong>GROCERCHECK TERMS AND CONDITIONS </strong></p>

    <p><strong>Terms and Conditions (&ldquo;Terms&rdquo;) </strong></p>

    <p>Last updated: May 30, 2020 </p>

    <p><strong>Content</strong></p>

    <p>The data presented by GrocerCheck Foundation is provided for informational purposes only, and cannot be a replacement for common sense and the user's best judgement. GrocerCheck is but one tool with which you may make the best decisions for your health and safety. Although reasonable steps have been taken to ensure the information displayed is accurate and reliable, GrocerCheck Foundation does not guarantee its completeness, accuracy, timeliness, or the results obtained from the use of this information.</p>

    <p>The views, opinions, and information presented by the CovidWatch publication do not constitute professional advice of any form, and are provided for informational purposes only. The views and opinions expressed by CovidWatch authors do not necessarily represent the views of GrocerCheck Foundation, its Sponsors, Partners, or Affiliates. Although reasonable steps have been taken to ensure the information displayed by CovidWatch is accurate and reliable, GrocerCheck Foundation does not guarantee its completeness, accuracy, timeliness, or the results obtained from the use of this information. </p>

    <p><strong>Terms and Conditions </strong></p>

    <p>Please read these Terms and Conditions (&ldquo;Terms&rdquo;, &ldquo;Terms and Conditions&rdquo;) listed below carefully before using the <u>https://grocercheck.ca/</u> website (&ldquo;the Service&rdquo;) operated by GrocerCheck Foundation (&ldquo;us&rdquo;, &ldquo;we&rdquo;, or &ldquo;our).</p>

    <p><strong>Links To Other Websites</strong></p>
    <p><u>https://grocercheck.ca/</u> contains links to other websites. GrocerCheck Foundation does not own or control any other websites or any of their contents. Your decision to follow any link to or use any other websites is at your own risk. </p>

    <p><strong>Cookies And Privacy</strong></p>
    <p>We collect cookies (which are small pieces of data that are stored by your browser on your computer that give us information about you and your computer) to improve your user experience. You can configure your browser to reject cookies. We also use your IP address to help administer this website and gather demographic information regarding visitors to our website. We collect and use all such information and other personal information in accordance with our Privacy Policy. For more information about cookie use, please refer to our Cookie Policy.</p>
    <p><strong>No liability</strong></p>
    <p>This website is provided on an &ldquo;as is&rdquo; basis. GrocerCheck Foundation and its partners expressly disclaims liability for any damages or losses arising from or in any way relating to your or any other person&rsquo;s use of, or reliance on, this website or any other website or any website content. This includes any damages or losses arising from any virus or other malware transmitted through this website or any other website.</p>

    <p><strong>Complete Agreement </strong></p>

    <p>Your access to and use of the Service is conditioned on your acceptance and compliance with these Terms. Terms are listed above. These terms apply to all visitors, users and others who access or use the Service. </p>

    <p>By accessing or using the Service you argree to these Terms. If you disagree with the part of the terms then you may not use the Service.</p>

    <p><strong>Termination</strong></p>

    <p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the terms above. </p>

    <p style="font-size:30px"><strong>&Eacute;dition Fran&ccedil;aise</strong></p>

    <p style="font-size: 2em"><strong>Termes et conditions (&laquo;Termes&raquo;)</strong></p>


    <p>Derni&egrave;re mise &agrave; jour: 4 Juin 2020</p>

    <p><strong>Contenu</strong></p>

    <p>Les donn&eacute;es pr&eacute;sent&eacute;es par GrocerCheck Foundation sont fournies &agrave; titre informatif uniquement et ne sauraient remplacer le bon sens et le meilleur jugement de l'utilisateur. GrocerCheck n'est qu'un outil avec lequel vous pouvez prendre les meilleures d&eacute;cisions pour votre sant&eacute; et votre s&eacute;curit&eacute;. Bien que des mesures raisonnables aient &eacute;t&eacute; prises pour garantir l'exactitude et la fiabilit&eacute; des informations affich&eacute;es, la Fondation GrocerCheck ne garantit pas leur exhaustivit&eacute;, leur exactitude, leur actualit&eacute; ou les r&eacute;sultats obtenus gr&acirc;ce &agrave; l'utilisation de ces informations.</p>
    <p>Les vues, opinions et informations pr&eacute;sent&eacute;es par la publication CovidWatch ne constituent en aucun cas un avis professionnel et sont fournies &agrave; titre informatif uniquement. Les vues et opinions exprim&eacute;es par les auteurs de CovidWatch ne repr&eacute;sentent pas n&eacute;cessairement les vues de la Fondation GrocerCheck, de ses sponsors, partenaires ou affili&eacute;s. Bien que des mesures raisonnables aient &eacute;t&eacute; prises pour garantir que les informations affich&eacute;es par CovidWatch sont exactes et fiables, GrocerCheck Foundation ne garantit pas leur exhaustivit&eacute;, leur exactitude, leur actualit&eacute; ou les r&eacute;sultats obtenus de l'utilisation de ces informations.</p>
    <p><strong>Termes et conditions</strong></p>

    <p>Veuillez lire attentivement les pr&eacute;sentes conditions g&eacute;n&eacute;rales (&laquo;Conditions&raquo;, &laquo;Conditions g&eacute;n&eacute;rales&raquo;) ci-dessous avant d'utiliser le site Web https://grocercheck.ca/map/ (&laquo;le Service&raquo;) exploit&eacute; par la Fondation GrocerCheck (&laquo;nous&raquo;, &laquo; nous ", ou" notre).</p>
    
    <p><strong>Liens Vers D'Autres Sites Web Inclus Sur Le Site Web De GrocerCheck</strong></p>
    
    
    <p><u>https://grocercheck.ca/</u> contient des liens vers d'autres sites Web. La Fondation GrocerCheck ne poss&egrave;de ni ne contr&ocirc;le aucun autre site Web ni aucun de leurs contenus. Votre d&eacute;cision de suivre un lien vers ou d'utiliser d'autres sites Web est &agrave; vos propres risques.</p>

    <p><strong>Cookies ET Confidentialit&eacute;</strong></p>

    <p>Nous collectons des cookies (qui sont de petites donn&eacute;es stock&eacute;es par votre navigateur sur votre ordinateur qui nous donnent des informations sur vous et votre ordinateur) pour am&eacute;liorer votre exp&eacute;rience utilisateur de ce site Web, sauf si votre navigateur est configur&eacute; pour les rejeter. Nous utilisons &eacute;galement votre adresse IP pour aider &agrave; administrer ce site Web et recueillir des informations d&eacute;mographiques concernant les visiteurs de notre site Web. Nous collectons et utilisons toutes ces informations et autres informations personnelles conform&eacute;ment &agrave; notre politique de confidentialit&eacute;. Pour plus d'informations sur l'utilisation des cookies, veuillez vous r&eacute;f&eacute;rer &agrave; notre politique en mati&egrave;re de cookies.</p>

    <p><strong>Aucune Responsabilit&eacute;</strong></p>
    
    <p>Ce site Web est fourni &laquo;come pr&eacute;sente&raquo;. La Fondation GrocerCheck d&eacute;cline express&eacute;ment toute responsabilit&eacute; pour tout dommage ou perte r&eacute;sultant de ou de quelque mani&egrave;re que ce soit li&eacute; &agrave; votre utilisation ou &agrave; la confiance de ce site Web ou de tout autre site Web ou de tout contenu de site Web. Cela inclut tous les dommages ou pertes r&eacute;sultant de tout virus ou autre logiciel malveillant transmis via ce site Web ou tout autre site Web.</p>
    
    
    <p><strong>Accord complet</strong></p>

    <p>Votre acc&egrave;s et votre utilisation du service sont conditionn&eacute;s par votre acceptation et votre respect des pr&eacute;sentes Conditions. Les termes sont &eacute;num&eacute;r&eacute;s ci-dessus. Ces conditions s'appliquent &agrave; tous les visiteurs, utilisateurs et autres personnes qui acc&egrave;dent ou utilisent le service.</p>
    
    <p>En acc&eacute;dant ou en utilisant le service, vous acceptez d'&ecirc;tre li&eacute; par ces Conditions. Si vous n'&ecirc;tes pas d'accord avec la partie des conditions, vous ne pouvez pas acc&eacute;der au service.</p>
    
    <p><strong>R&eacute;siliation</strong></p>
    
    <p>Nous pouvons r&eacute;silier ou suspendre l'acc&egrave;s &agrave; notre Service imm&eacute;diatement, sans pr&eacute;avis ni responsabilit&eacute;, pour quelque raison que ce soit, y compris sans limitation si vous violez les conditions ci-dessus.</p>








</div>


</body>
</html>
